body {
  background-color: green;
  height: 800px;
}

.gameboard {
  margin-top: 150px;
  border: 1px solid black;
  padding: 20px;
  width: 80%;
  height: 100%;
}

#table {
  margin: 0;
  /*border:1px solid blue;*/
  padding: 0;
  display: flex;
  height: 100%;
}

#diceContainer {
  margin: 0;
  border: 1px solid black;
  padding: 0;
  display: inline-block;
  width: 60%;
  height: 100%;
}

#diceBox {
  margin: 0;
  border: solid 1px red;
  padding: 0;
  height: 60%;
}

.diceRow {
  margin: 0;
  border: 1px solid yellow;
  padding:0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.dice {
  margin: 20px 0px;
  border: 1px solid black;
  padding-left: 0;
  background-color: white;
  font-size: 5em;
  text-align: center;
  height: 120px;
  width: 120px;
}

#first {

}

#second {

}

#third {

}

#fourth {

}

#fifth {

}

#rollSubmitTurn {
  margin: 0;
  border: 1px solid purple;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  width: 100%;
}

#messageBoard {
  margin: 0;
  border: 1px solid purple;
  padding: 0;
  height: 30%;
  width: 100%;
}

#optionsBox {
  margin: 0;
  border: 1px solid orange;
  padding: 0;
  height: 100%;
  width: 30%;
}

#diceOptions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: tan;
  height: 50%;
  width: 100%;
}

.optionButton {}

#userBox {
  margin: 0;
  border: 1px solid black;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 200px;
  width: 30%;
  height: 100%;
}

.user {
  margin: 0;
  /*border: 1px solid yellow;*/
  padding: 0;
  background-color: peru;
  text-align: center;
  width: 100%;
  height: 40%;
}

.name {
  border: 1px solid red;
  font-size: 2em;
  font-style: italic;
}

#name1 {
  background-color: yellow;
}

#name2 {}

.total {
  border: 1px solid red;
  font-size: 3em;
}

#total1{}

#total2{}

.subScores {
  font-size: 0.4em;
}

#shuffle {
  margin-top: 10px;
  border: 1px solid black;
  padding-top: 10px;
  background-color: peru;
  font-size: 2em;
  text-align: center;
  height: 50px;
  width: 150px;
}

#startButton {
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid black;
  padding-top: 10px;
  color: white;
  background-color: red;
  font-size: 2em;
  text-align: center;
  height: 50px;
  width: 150px;
}

#pointsButton {
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid black;
  padding-top: 10px;
  color: white;
  background-color: green;
  font-size: 2em;
  text-align: center;
  height: 50px;
  width: 150px;
}

#rolls {
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid black;
  padding-top: 10px;
  color: white;
  background-color: blue;
  font-size: 2em;
  text-align: center;
  height: 50px;
  width: 150px;
}

#round {
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid black;
  padding-top: 10px;
  color: blue;
  background-color: yellow;
  font-size: 2em;
  text-align: center;
  height: 50px;
  width: 150px;
}
