<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quick Yahtzee</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"   integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div id="menuBox">
      <div id="menu">
        - MENU -
      </div>
      <div id="navBar">
        <div class="navButton" id="rules">
          Rules
        </div>
        <div class="navButton" id="howToPlay">
          How To Play
        </div>
        <div class="navButton" id="reset">
          Reset Scores
        </div>
      </div>
    </div>

    <!-- START "Rules content" -->
    <div class="noteBox" id="rulesBox">
      <div class="noteTitle">
        <u>RULES</u>
      </div>
      <div class="noteContent">
        - Each player has 8 rounds. After the second player's 8th round, the winner is the player with the highest total score.
      </div>
      <div class="noteContent">
        - A player may roll the dice no more than three times during their round.
      </div>
      <div class="noteContent">
        - Each category can only be used by each player ONCE. Available categories are shown in black on each player's scoreboard, while used categories are shown in red.
      </div>
      <div class="noteContent">
        - Each category can only accept certain dice before being used.
        <div class="categoryColumn">
          <u>Aces - Sixes</u>: Only the dice with the same numbers as that of the category. (Ex. "Fives" = 5, 5, 5)
        </div>
        <div class="categoryColumn">
          <u>Chance</u>: All dice must be selected, no matter what their numbers are. (Ex. "Chance" = 2, 5, 4, 4, 3)
        </div>
        <div class="categoryColumn">
          <u>Yahtzee</u>: Only used if all five dice are the same number. (Ex. 2, 2, 2, 2, 2)
        </div>
      </div>
      <div class="noteContent">
        - The sum of the selected dice will be added to the player's total score... EXCEPT for a Yahtzee. A Yahtzee is always scored as 50, no matter which dice were used.
      </div>
      <div class="noteContent">
        - <u>It can happen for none of a player's dice to work with any available categories</u>. In a case like this, the player must choose any available category, unselect all of their dice, and click 'Enter Points'. That category will now be considered 'used', even though its score will be 0.
      </div>
    </div>
    <!-- STOP "Rules" content -->

    <!-- START "How To Play" -->
    <div class="noteBox" id="howToPlayBox">
      <div class="noteTitle">
        HOW TO PLAY
      </div>
      <div class="noteContent">
        1) <u>ROLL THE DICE</u> - To roll the dice, click the "Roll" button. Each of the dice will randomly generate a new number between 1 and 6.
      </div>
      <div class="noteContent">
        2) <u>CHOOSING DICE</u> - If you double click on a dice and its color is then shades grey, then that dice has been "selected". A selected dice WILL NOT be rolled if the Roll button is used again. Any "unselect" (white-colored) dice WILL be changed during the next roll. Selected/unselected dice can be changed back simply by double clicking them again.
      </div>
      <div class="noteContent">
        3) <u>CHOOSE THE CATEGORY</u> - Based on the dice that you have selected, click the category that you want to enter your points into. To see the rules of each category, click the 'Rules' button.
      </div>
      <div class="noteContent">
        4) <u>ENTER YOUR POINTS</u> - Once your dice and category are chosen, click the 'Enter Points' button. The new category and total scores will be displayed in the player's scoreboard.
      </div>
      <div class="noteContent">
        5) <u>MOVE TURN TO NEXT PLAYER</u> - The current player's name will be highlighted in their scorecard. Once you have entered your points, your turn is over. Simply click 'Next Turn' (which will now highlight their name) and then the next player can begin.
      </div>
      <div class="noteContent">
        <u>WHO WINS?</u> - The winner is the player with the highest overall score after the final player enters their points on the 8th round.
      </div>
      <div class="noteContent">
        <u>DID AN UNEXPECTED BOX APPEAR?</u> - This is likely because a dice, category, or action was selected at the inapporpriate time. Please read the explanation on the box, and you can probably find the mistake.
      </div>
    </div>
    <!-- STOP "How To Play" -->

    <div id="mediaBox">
      <div id="wholeContent">
        <div id="mainTitle">
          <h1><i>Quick</i> <u>Yahtzee</u></h1>
        </div>
        <div class="gameboard">
          <div id="table">

            <!-- START Category box -->
            <div id="optionsBox">
              <div id="leftMenu">
                Choose Your Category
              </div>
              <div id="diceOptions">
                <button class="catButton" id="aces">Aces</button>
                <button class="catButton" id="twos">Twos</button>
                <button class="catButton" id="threes">Threes</button>
                <button class="catButton" id="fours">Fours</button>
                <button class="catButton" id="fives">Fives</button>
                <button class="catButton" id="sixes">Sixes</button>
                <button class="catButton" id="chance">Chance</button>
                <button class="catButton" id="yahtzee">Yahtzee</button>
              </div>
              <div id="roundRollBox">
                <div class="showTally">
                  <div class="tallyName">Rolls:</div>
                  <div id="rolls"></div>
                </div>
                <div class="showTally">
                  <div class="tallyName">Rounds:</div>
                  <div id="round"></div>
                </div>
              </div>
            </div>
            <!-- STOP Category box -->

            <!-- START Dice box -->
            <div id="diceContainer">
              <div id="diceBox">
                <div class="diceRow">
                  <div class="dice" id="first"></div>
                  <div class="dice" id="second"></div>
                  <div class="dice" id="third"></div>
                </div>
                <div class="diceRow">
                  <div class="dice" id="fourth"></div>
                  <div class="dice" id="fifth"></div>
                </div>
              </div>
              <div id="rollSubmitTurn">
                <div class="actButton" id="shuffle">
                  Roll
                </div>
                <div class="actButton" id="pointsButton">
                  Enter Points
                </div>
                <div class="actButton" id="startButton">
                  Next Turn
                </div>
              </div>
              <div id="messageBoard">
              </div>
            </div>
            <!-- STOP Dice Box -->

            <div id="mediaBottom">
            <!-- START @media Category box -->
            <div id="mediaOptionsBox">
              <div id="leftMenu">
                Choose Your Category
              </div>
              <div id="diceOptions">
                <button class="catButton" id="acesMedia">Aces</button>
                <button class="catButton" id="twosMedia">Twos</button>
                <button class="catButton" id="threesMedia">Threes</button>
                <button class="catButton" id="foursMedia">Fours</button>
                <button class="catButton" id="fivesMedia">Fives</button>
                <button class="catButton" id="sixesMedia">Sixes</button>
                <button class="catButton" id="chanceMedia">Chance</button>
                <button class="catButton" id="yahtzeeMedia">Yahtzee</button>
              </div>
              <div id="roundRollBox">
                <div class="showTally">
                  <div class="tallyName">
                    Roll:
                  </div>
                  <div id="rolls"></div>
                </div>
                <div class="showTally">
                  <div class="tallyName">
                    Round:
                  </div>
                  <div id="round"></div>
                </div>
              </div>
            </div>
            <!-- STOP @media Category box -->

            <!-- START Scores box -->
            <div id="userBox">
              <div class="user">
                <div class="name" id="name1">
                  Player 1
                </div>
                <div class="total">
                  <div class="mainTotal" id="total1">0</div>
                    <div class="rowOfColumns">
                      <div class="userColumn">
                        <div class="subScores">Aces:</div>
                        <div class="subScores">Twos:</div>
                        <div class="subScores">Threes:</div>
                        <div class="subScores">Fours:</div>
                        <div class="subScores">Fives:</div>
                        <div class="subScores">Sixes:</div>
                        <div class="subScores">Chance:</div>
                        <div class="subScores">Yahtzee:</div>
                      </div>
                      <div class="userColumn">
                        <div class="subScores" id="userOneAces">0</div>
                        <div class="subScores" id="userOneTwos">0</div>
                        <div class="subScores" id="userOneThrees">0</div>
                        <div class="subScores" id="userOneFours">0</div>
                        <div class="subScores" id="userOneFives">0</div>
                        <div class="subScores" id="userOneSixes">0</div>
                        <div class="subScores" id="userOneChance">0</div>
                        <div class="subScores" id="userOneYahtzee">0</div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="user">
                <div class="name" id="name2">
                  Player 2
                </div>
                <div class="total">
                  <div class="mainTotal" id="total2">0</div>
                  <div class="rowOfColumns">
                    <div class="userColumn">
                      <div class="subScores">Aces:</div>
                      <div class="subScores">Twos:</div>
                      <div class="subScores">Threes:</div>
                      <div class="subScores">Fours:</div>
                      <div class="subScores">Fives:</div>
                      <div class="subScores">Sixes:</div>
                      <div class="subScores">Chance:</div>
                      <div class="subScores">Yahtzee:</div>
                    </div>
                    <div class="userColumn">
                      <div class="subScores" id="userTwoAces">0</div>
                      <div class="subScores" id="userTwoTwos">0</div>
                      <div class="subScores" id="userTwoThrees">0</div>
                      <div class="subScores" id="userTwoFours">0</div>
                      <div class="subScores" id="userTwoFives">0</div>
                      <div class="subScores" id="userTwoSixes">0</div>
                      <div class="subScores" id="userTwoChance">0</div>
                      <div class="subScores" id="userTwoYahtzee">0</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- STOP Scores box -->
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
