body {
  margin: 0;
  /*border: 1px solid red;*/
  padding: 0;
  background-color: green;
  background-image: url("/images/dark-green-pattern-wallpaper-3.jpg");
  background-size: cover;
}

#menu {
  display: none;
}

#navBar {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: black;
  color: ivory;
  height: 40px;
  width: 100%;
}

.navButton {
  margin: 0;
  border: 1px solid ivory;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  cursor: pointer;
}

.noteBox {
  margin: 0 10%;
  border: 5px solid gold;
  padding: 20px 5%;
  display: none;
  color: ivory;
  font-size: 20px;
  background-color: brown;
  z-index: 1;
  position: absolute;
  cursor: pointer;
}

.noteTitle {
  margin: 15px 0;
  font-size: 50px;
  text-align: center;
}

.noteContent {
  margin: 20px 0;
}

.categoryColumn {
  margin: 10px 0 10px 5%;
}

#mediaBox {

}

#wholeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainTitle {
  margin: 0;
  padding: 0;
  font-size: 2em;
  text-align: center;
  color: ivory;
  width: 80%;
  min-width: 1100px;
}

.gameboard {
  border: 10px solid black;
  padding: 0;
  background-color: black;
  width: 1120px;
  height: 650px;
}

#table {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  width: 100%;
}

#diceContainer {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 60%;
  height: 100%;
}

#diceBox {
  margin: 0 10px;
  padding: 0;
  background-image: url("/images/dice_board.jpg");
  height: 60%;
}

.diceRow {
  margin: 0;
  border-radius: 5px;
  padding:0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.dice {
  margin: 20px 0px;
  border: 1px solid black;
  border-radius: 15px;
  padding-left: 0;
  background-color: white;
  font-size: 5em;
  text-align: center;
  height: 120px;
  width: 120px;
  cursor: pointer;
}

.catButton {
  margin: 6px 0;
  cursor: pointer;
}

#first {

}

#second {

}

#third {

}

#fourth {

}

#fifth {

}

#rollSubmitTurn {
  margin: 0 10px;
  padding: 4px 0px;
  display: flex;
  justify-content: space-between;
  height: 10%;
}

#messageBoard {
  margin: 0 10px;
  padding: 0;
  background-image: url("/images/dice1.jpg");
  background-size: cover;
  height: 28%;
}

#leftMenu {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  text-align: center;
  color: ivory;
  width: 100%;
}

#optionsBox {
  margin: 0;
  padding: 0;
  display: initial;
  background-image: url("/images/option_board.jpg");
  width: 30%;
}

#mediaOptionsBox {
  display: none;
}

#diceOptions {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("/images/option_board.jpg");
}

button {
  margin: 0 20%;
  border: 3px solid black;
  border-radius: 40%;
  padding: 0;
  font-size: 1.5em;
  background-color: ivory;
}

.optionButton {}

#roundRollBox {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30%;
}

#userBox {
  margin: 0;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("/images/option_board.jpg");
  background-size: cover;
  min-width: 200px;
  width: 30%;
  height: 100%;
}

.user {
  margin: 0;
  padding: 0;
  background-color: ivory;
  text-align: center;
  width: 100%;
  height: 45%;
}

.name {
  font-size: 2em;
  font-style: italic;
}

#name1 {
  background-color: orange;
}

#name2 {}

.total {
  font-size: 3em;
}

.userColumn {
  margin: 0;
  border: 1px 1px 0 0 dashed black;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 50%;
}

#total1{}

#total2{}

.rowOfColumns {
  display: flex;
  flex-direction: row;
}

.subScores {
  flex-direction: column;
  font-size: 0.4em;
}

.actButton {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8em;
  height: 100%;
  width: 30%;
  cursor: pointer;
}

#shuffle {
  background-color: peru;
}

#startButton {
  color: white;
  background-color: red;
}

#pointsButton {
  color: white;
  background-color: green;
}

.showTally {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50%;
  width: 100%;
}

.tallyName {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: ivory;
  width: 50%;
}

#rolls {
  margin: 4%;
  border-radius: 100%;
  border: 3px solid black;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: ivory;
  font-size: 2em;
  height: 65%;
  width: 50%;
}

#round {
  margin: 4%;
  border-radius: 100%;
  border: 3px solid black;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: ivory;
  font-size: 2em;
  height: 65%;
  width: 50%;
}

/*** FOR SMALLER SCREENS ***/

@media (max-device-width: 500px) {

  #menuBox {
    margin: 0;
    display: block;
  }

  #menu {
    border-bottom: 1px solid ivory;
    display: block;
    font-size: 80px;
    color: ivory;
    text-align: center;
    background-color: black;
  }

  #navBar {
    display: none;
    background-color: transparent;
    z-index: 1;
    position: absolute;
    height: 100%;
  }

  .navButton {
    margin: 0 5%;
    padding: 40px 0;
    border: 0px 1px 1px 1px solid ivory;
    font-size: 70px;
    background-color: black;
    width: 90%;
  }

  .noteBox {
    font-size: 50px;
    overflow: scroll;
    height: 90%;
  }

  #wholeContent {
    display: block;
  }

  #mainTitle {
    margin: 0 10%;
    padding: 0px;
    font-size: 4em;
    min-width: initial;
  }

  .gameboard {
    margin: 0 auto 30px auto;
    height: 100%;
    width: 90%;
  }

  #table {
    display: block;
    height: none;
  }

  #optionsBox {
    display: none;
  }

  #diceContainer {
    border-top: 10px solid black;
    display: block;
    width: 100%;
  }

  .dice {
    margin: 60px 0px;
    font-size: 8em;
    height: 200px;
    width: 200px;
  }

  #rollSubmitTurn {
    font-size: 40px;
    height: initial;
  }

  .actButton {
    height: 170px;
  }

  #mediaBottom {
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    display: flex;
    background-image: url("/images/option_board.jpg");
    background-size: cover;
  }

  #mediaOptionsBox {
    margin: 0 2.5%;
    padding: 0;
    display: inline-block;
    background-image: none;
    width: 45%;
  }

  #leftMenu {
    display: none;
  }

  #diceOptions {
    margin: 10px 0;
    background-image: none;
    font-size: 3em;
  }

  .catButton {
    margin: 15px 0;
    padding: 5px 0;
  }

  .showTally {
    font-size: 2em;
  }

  #messageBoard {
    display: none;
  }

  #userBox {
    margin: 0 2.5% 20px 2.5%;
    padding: 0;
    background-image: none;
    width: 45%;
  }

  .user {
    margin: 20px 0;
    padding-bottom: 20px;
  }

  .name {
    padding: 20px 0;
    font-size: 70px;
  }

  .total {
    font-size: 60px;
  }

  .rowOfColumns {
    font-size: 2.2em;
  }

}

/*BOTTOM*/
